@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik+Iso&display=swap');



#root {
  text-align: center;
  color: black;
  background-color: #f4f6fa;
  font-family: 'Oswald', sans-serif;
}
