@import url('https://fonts.googleapis.com/css2?family=Tilt+Warp&display=swap');

.container{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0px;
}
.btn{
    height: 50px;
    width: 400px;
    color: white;
    background-color: grey;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Tilt Warp', cursive;
    cursor: pointer;
    
}