.btn{
    height: 50px;
    width: 200px;
    color: white;
    background-color: grey;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Tilt Warp', cursive;
    cursor: pointer;
    display: block;
    
}